<html>
    <head>
        {% if title %}
        <title>{{ title }} - blog</title>
        {% else %}
        <title>no title blog</title>
        {% endif %}
    </head>
    <body>
        {% if user %}
        <h1>Hello, {{ user.username }}!</h1>
        {% endif %}
        <a href="/login">Login</a>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
